<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - clausmartinsen.no</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <section>
            <p>Her kommer clausmartinsen.no</p>
            <p>I mellomtiden, la meg gjette tallet ditt.</p>
        </section>

        <section>
            <canvas id="draw" width="500" height="500"></canvas>
        </section>
        <section>
            <button class="clear_button" onclick="clearDrawing()">Start på nytt</button>
        </section>
        <section>
            <p id="prediction">Ingen gjett enda.</p>
        </section>
    </body>
    <script src="../static/js/prediction.js"></script>
</html>
